DATABASE_URL="mysql://user:password@localhost:3306/dbname"
PORT=3000
NODE_ENV=development

# JWT
JWT_ACCESS_SECRET="your_access_secret_here"
JWT_REFRESH_SECRET="your_refresh_secret_here"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# Cloudinary
CLOUDINARY_NAME ="your_cloudinary_name"
CLOUDINARY_API_KEY ="your_cloudinary_api_key"
CLOUDINARY_API_SECRET="your_cloudinary_api_secret"

# Zalopay
ZALOPAY_APP_ID=2554
ZALOPAY_KEY1="sdngKKJmqEMzvh5QQcdD2A9XBSKUNaYn"
ZALOPAY_KEY2="trMrHtvjo6myautxDUiAcYsVtaeQ8nhf"
ZALOPAY_ENDPOINT="https://sb-openapi.zalopay.vn"
DOMAIN_WEBSITE="https://c78e1d8111c8.ngrok-free.app"